<div class="card">
        <div class="card-body">
        <form action="/src/app/company/company.component.html" method="post" name="form1">
            <div class="form-group">
              <label class="col-md-4">Company ID</label>
              <input type="text" class="form-control" FormControlName="company_id" #company_id />
            </div>
            
            <div class="form-group">
              <label class="col-md-4">Company Name</label>
              <input type="text" class="form-control" FormControlName="company_name" #company_name />
            </div>
            
            <div class="form-group">
              <label class="col-md-4">Test Name</label>
              <input type="text" class="form-control" FormControlName="test_name" #test_name />
            </div>
           
            <div class="form-group">
                <label class="col-md-4"> Test Date </label>
                <input type="text" class="form-control" FormControlName="test_date" #test_date>
            </div>

            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary"><b>Register</b></button>
            </form>
        </div>
      </div>