<h3>Company Registration</h3>
<div [hidden]="submitted">
    <form #companyRegistrationForm="ngForm">
        
        <div class="form-group">
        <label for="company">Company Id</label>
        <input type="number" class="form-control" id="companyid" placeholder="companyid" 
        required
        [(ngModel)]="company.companyid" name="companyid" #companyid="ngModel">
        <div [hidden]="companyid.valid || companyid.pristine"
             class="alert alert-danger">
            Company ID is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="company"> Company Name </label>
        <input type="text" class="form-control" id="companyname" placeholder="companyname"
        required
        [(ngModel)]="company.companyname" name="companyname" #companyname="ngModel">
        <div [hidden]="companyname.valid || companyname.pristine"
             class="alert alert-danger">
            Company Name is required
        </div>
      </div>
      
      <div class="form-group">
        <label for="company"> Test Name </label>
        <input type="text" class="form-control" id="testname" placeholder="testname"
        required
        [(ngModel)]="company.testname" name="testname" #testname="ngModel">
        <div [hidden]="testname.valid || testname.pristine"
             class="alert alert-danger">
            Test Name is required
        </div>
      </div>

      <div class="form-group">
        <label for= "company"> Test Date </label>
        <input type="text" class="form-control" id="testdate" placeholder="testdate"
        required
        [(ngModel)]="company.testdate" name="testdate" #testdate="ngModel">
        <div [hidden]="testdate.valid || testdate.pristine"
              class="alert alert-danger">
            Test Date is Required
      </div>
      </div>

      <div class="btn-group btn-group-sm">
      	<button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
      	<button type="button" class="btn btn-dark" (click)="companyRegistration()" [disabled]="!companyRegistrationForm.form.valid"> Create Test </button>
      </div>
    </form>
</div>

<div [hidden]="!submitted">
  <p>Submitted Successfully! -> <span class="badge badge-light"> {{company.companyid}}  {{company.companyname}} {{company.testname}} {{company.testdate}} </span></p>
	<div class="btn-group btn-group-sm">
    	<button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
    </div>
</div>