<div ng-controller="safectrl">
    <button type="button" ng-click="addRandomUsers(row)" class="btn btn-sm btn-success">
        <i class="glyphicon glyphicon-plus">
        </i> Add Random User
    </button>

    <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="userid"> USER ID </th>
            <th st-sort="name"> NAME </th>
            <th st-sort="username"> USERNAME </th>
            <th st-sort="email"> EMAIL </th>
        </tr>
        <tr>
                <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in displayedCollection">
                <td>{{row.USERID}}</td>
                <td>{{row.NAME}}</td>
                <td>{{row.USERNAME}}</td>
                <td>{{row.EMAIL}}</td>
            </tr>
        <td>
            <button type="button" class="btn btn-sm btn-success" (click)="AssignQues()"> Assign Questions </button>
        </td>
        <td>
            <button type="button" class="btn btn-sm btn-primary" (click)="GetTests()"> Get Tests </button>
        </td>
        <td>
                <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-remove-circle">
                        </i>
                </button>
        </td>
        </tbody>
    </table>    
</div>