<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th> USER ID </th>
            <th> USER NAME </th>
            <th> TEST ID </th>
            <th> TEST NAME </th>
            <th> TEST DATE </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userregs">
            <td>{{user.userid}}</td>
            <td>{{user.username}}</td>
        <tr *ngFor="let test of tests">
            <td>{{test.id}}</td>
            <td>{{test.testname}}</td>
            <td>{{test.testcreator}}</td>
        </tr>
    </tbody>
    <br>
    <h4> Select User Details and Assign Questions </h4>
    <select formControlName="userregs">
        <option *ngFor="let user of userregs" [ngValue]="userregs">{{user.userid}} {{user.username}}</option>
        <option [ngValue]="null" enabled>Choose Registered User ID</option>
        <option *ngFor="let user of userregs" [ngValue]="userregs"> {{user.userid}} {{user.username}} </option>
    </select>
    <br>
    <h4> Select User Details and Reverse Assign Questions </h4>
    <select formControlName="userregs | reverse">
        <option *ngFor="let user of userregs" [ngValue]="userregs">{{user.userid}}</option>
        <option [ngValue]="null" enabled>Choose Registered User ID in Reverse </option>
        <option *ngFor="let user of userregs" [ngValue]="userregs">
    </select>
    <button type="button" (click)="reverseAssignQuesId()"> Reverse Assign </button>
    <br>
    <select multiple formControlName="questions" [compareWith]="tests">
        <option *ngFor="let ques of questions" [ngValue]="ques">
            {{ ques.id }}
            {{ ques.questions1 }}
            {{ ques.option1 }}
            {{ ques.option2 }}
            {{ ques.option3 }}
            {{ ques.option4 }}
    </select>
    <button type="button" (click)="assignQuesId()">Assign</button>
    <button type="button" (click)="setDefaultValues()">Set Default</button>
    <br>
    <button type="button" (click)="getUserregs()"> Get Registered Users</button>
    <button type="button" (click)="getTests()"> Get Tests </button>
    <button type="button" (click)="quesAssigner(questions)"> Assign Questions </button>
</table>

<section class="asslistapp">
    <app-asslist-header
        (add) = "onAddAsslists($event)"
    ></app-asslist-header>
    <app-asslist
        [Asslists]="asslists"
        (toggleComplete)="onToggleAsslistComplete($event)"
        (remove)="onRemoveAsslist($event)"
    ></app-asslist>
    <app-asslist-footer
        [asslists]="asslist"
    ></app-asslist-footer>
</section>
