<table id="table" class="table table-striped">
    <thead>
        <tr>
            <th> USER ID </th>
            <th> USER NAME </th>
            <th> TEST ID </th>
            <th> TEST NAME </th>
            <th> TEST DATE </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userregs">
            <td>{{user.userid}}</td>
            <td>{{user.username}}</td>
        <tr *ngFor="let test of tests">
            <td>{{test.testid}}</td>
            <td>{{test.testname}}</td>
            <td>{{test.testdate}}</td>
        </tr>
    </tbody>
    <br>
    <h4> Select User Details and Assign Questions </h4>
    <select [id] = "id">
        <option [id] = "id + 1" value="0"> Select Use ID </option>
        <option [id] = "id + 2" value="1"> id 1 </option>
        <option [id] = "id + 3" value="2"> id 2 </option>
        <option [id] = "id + 4" value="3"> id 3 </option>
        <option [id] = "id + 5" value="4"> id 4 </option>
    </select>
    <br>
    <button type="button" (click)="getAll()"> All Assigns</button>
    <button type="button" (click)="getQuestions()"> Assign Test </button>
    <button type="button" (click)="getUserregs()"> Get Registered Users</button>
    <button type="button" (click)="getTests()"> Get Tests </button>
    <button type="button" (click)="quesAssigner(questions)"> Assign Questions </button>
</table>

<section class="asslistapp">
    <app-asslist-header
        (add) = "onAddAsslist($event)"
    ></app-asslist-header>
    <app-asslist
        [Asslists]="asslists"
        (toggleComplete)="onToggleAsslistComplete($event)"
        (remove)="onRemoveAsslist($event)"
    ></app-asslist>
    <app-asslist-footer
        [asslists]="asslist"
    ></app-asslist-footer>
</section>
