<h3>Add Questions</h3>
<div [hidden]="submitted">
    <form #addQuestionsForm="ngForm"> 

        <div class="form-group">
        <label for="id">Questions ID</label>
        <input type="number" class="form-control" id="id" placeholder="id" 
        required
        [(ngModel)]="questions.id" name="id" #id="ngModel">
        <div [hidden]="id.valid || id.pristine"
             class="alert alert-danger">
        </div>
      </div>
      
      <div class="form-group">
        <label for="questions1"> Question 1 </label>
        <input type="text" class="form-control" id="questions1" placeholder="questions1"
        required
        [(ngModel)]="questions.questions1" name="questions1" #questions1="ngModel">
        <div [hidden]="questions1.valid || questions1.pristine"
             class="alert alert-danger">
        </div>
      </div>
      
      <div class="form-group">
        <label for="questions2"> Question 2 </label>
        <input type="text" class="form-control" id="questions2" placeholder="questions2"
        required
        [(ngModel)]="questions.questions2" name="questions2" #questions2="ngModel">
        <div [hidden]="questions2.valid || questions2.pristine"
             class="alert alert-danger">
        </div>
      </div>

      <div class="form-group">
        <label for="questions3"> Question 3 </label>
        <input type="text" class="form-control" id="questions3" placeholder="questions3" 
        required
        [(ngModel)]="questions.questions3" name="questions3" #questions3="ngModel">
        <div [hidden]="questions3.valid || questions3.pristine"
             class="alert alert-danger">
        </div>
      </div>

      <div class="form-group">
        <label for="createdAt"> CreatedAt </label>
        <input type="text" class="form-control" id="createdAt" placeholder="createdAt" 
        required
        [(ngModel)]="questions.createdAt" name="createdAt" #createdAt="ngModel">
        <div [hidden]="createdAt.valid || createdAt.pristine"
             class="alert alert-danger">
        </div>
      </div>

      <div class="form-group">
        <label for="updatedAt"> UpdatedAt </label>
        <input type="text" class="form-control" id="updatedAt" placeholder="updatedAt" 
        required
        [(ngModel)]="questions.updatedAt" name="updatedAt" #updatedAt="ngModel">
        <div [hidden]="updatedAt.valid || updatedAt.pristine"
             class="alert alert-danger">
        </div>
      </div>

      <div class="btn-group btn-group-sm">
      	<button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
        <button type="button" class="btn btn-dark" (click)="addQuestions()" [disabled]="!addQuestionsForm.form.valid">Add Questions</button>
      </div>
    </form>
</div>

<div [hidden]="!submitted">
  <p>Submitted Successfully! -> <span class="badge badge-light"> {{questions.id}}  {{questions.questions1}} {{questions.questions2}} {{questions.questions3}} {{questions.createdAt}} {{questions.updatedAt}} </span></p>
	<div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
      <button type="button" class="btn btn-dark" (click)="addQuestions(); addQuestionsForm.reset()"> Continue </button>
    </div>
</div>