<div class="card">
        <div class="card-body">
            <form action="/src/app/tests/tests.component.html" method="post" name="form1">
            <div class="form-group">
              <label class="col-md-4">Test ID</label>
              <input type="text" class="form-control" formControlName="test_id" #test_id />
            </div>
            
            <div class="form-group">
              <label class="col-md-4">Test Name</label>
              <input type="text" class="form-control" formControlName="test_name" #test_name />
            </div>
            
            <div class="form-group">
              <label class="col-md-4">Test Creator</label>
              <input type="text" class="form-control" formControlName="test_creator" #test_creator />
            </div>
    
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary"><b>Register</b></button>
            </form>
        </div>
      </div>