<div class="container py-5">
    <h3 class="text-center text-uppercase"> Multiple Choice Questions </h3>
    <table class="table table-boredered table-striped">
        <thead>
            <tr class="text-center text-uppercase">
                <th>id</th>
                <th>questions</th>
                <th>option1</th>
                <th>option2</th>
                <th>option3</th>
                <th>option4</th>
                <th>createdAt</th>
                <th>updatedAt</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ques of questions">
                <td>{{ques.id}}</td>
                <td>{{ques.questions1}}</td>
                <td><input type="radio"> {{ques.option1}} </td>
                <td>{{ques.questions2}}</td>
                <td><input type="radio"> {{ques.option2}} </td>
                <td>{{ques.questions3}}</td>
                <td><input type="radio"> {{ques.option3}} </td>
                <td><input type="radio"> {{ques.option4}} </td>
                <td>{{ques.createdAt}}</td>
                <td>{{ques.updatedAt}}</td>
            </tr>
        </tbody>
        <br>
    </table>
    <div>
            <tr *ngFor="let ques of questions">
                 <td> {{ques.answers}} </td>
            </tr>   
        </div>

<div>