<div style="text-align: center">
    <h3> Welcome to Admin Page </h3>
    <br>
<div style="text-align: left">
    <h4> Questions Creations and Assigning Options: </h4>
</div>
    <div class="container">
        <div style="text-align: center">
                <button type="button" class="btn btn-info"><a routerLink="questions" routerLinkActive="active"><b><font color="black">Create Questions</font></b></a></button> |
                <button type="button" class="btn btn-info"><a routerLink="users" routerLinkActive="active"><b><font color="black">users</font></b></a></button> |
                <button type="button" class="btn btn-info"><a routerLink="#" routerLinkActive="active"><b><font color="black">Score </font></b></a></button> |
                <button type="button" class="btn btn-info"><a routerLink="#" routerLinkActive="active"><b><font color="black">Admin</font></b></a></button> 
        </div> 
    </div>

    <div style="width: 400px;margin: auto;">
        <h4> Select User ID and assign Test </h4>
        <p>Enter User ID Here <input type="number" [(ngModel)]="userid" placeholder="userid"></p>
        <button type="button" (click)="getUserid()"> Get User </button>
        <br>
        <button type="button" (click)="getAlluserregs()"> Get all users </button>
    </div>


    <td *ngFor="let test of tests">
        <div>{{test.id}}</div>
        <div>{{test.testname}}</div>
    </td>

    <button type="button" class="btn btn-danger"><a routerLink="assigner" routerLinkActive="active"><b><font color="black">Assigner</font></b></a></button>
<router-outlet></router-outlet>
</div>