<div style="text-align: center">
    <h3> Welcome to Admin Page </h3>
    <br>
<div style="text-align: left">
    <h4> Blogs Options: </h4>
</div>
    <div class="container">
        <div style="text-align: center">
                <button type="button" class="btn btn-info"><a routerLink="blogs" routerLinkActive="active"><b><font color="black">Blogs</font></b></a></button> |
                <button type="button" class="btn btn-info"><a routerLink="blogs/create" routerLinkActive="active"><b><font color="black">Create Blogs</font></b></a></button> |
                <button type="button" class="btn btn-info"><a routerLink="blogs/edit/:id" routerLinkActive="active"><b><font color="black">Edit Blogs</font></b></a></button> |
                <button type="button" class="btn btn-info"><a routerLink="pages" routerLinkActive="active"><b><font color="black">Pages</font></b></a></button> |
                <button type="button" class="btn btn-info"><a routerLink="admin" routerLinkActive="active"><b><font color="black">Admin</font></b></a></button> |
        </div>
    </div>

    <router-outlet> </router-outlet>
</div>