<div class="col-md-6 col-md-offset-8">
  <div class="container">
    <div [hidden]="submitted">
      <form #sendMailForm="ngForm">
          <div style="text-align: center">
            <h2> Send Mail </h2>
          </div>

          <div class="form-group">
            <label for="id"> ID </label>
            <input type="number" class="form-control" id="id" placeholder="id"
            required
            [(ngModel)]="sendmail.id" id="id" #id="ngModel">
            <div [hidden]="id.valid  || id.pristine"
                  class="alert alert-danger">
          </div>
          </div>

          <div class="form-group">
              <label for="name"> Name </label>
              <input type="text" class="form-control" id="name" placeholder="name"
              required
              [(ngModel)]="sendmail.name" name="name" #name="ngModel">
              <div [hidden]="name.valid || name.pristine"
                   class="alert alert-danger">
              </div>
            </div>

          <div class="form-group">
              <label for="email"> Email </label>
              <input type="text" name="email" id="email" [(ngModel)]="sendmail.email" class="form-control" placeholder="E-Mail" required email #email="ngModel">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                  <div *ngIf="email.errors.required">Email is required.</div>
                  <div *ngIf="email.errors.email">Email must be a valid email address.</div>
                </div>
          </div>

          <div class="form-group">
            <label for="phone"> Phone No </label>
            <input type="number" class="form-control" id="phone" placeholder="phone"
            required
            [(ngModel)]="sendmail.phone" phone="phone" #phone="ngModel">
            <div [hidden]="phone.valid || phone.pristine"
                  class="alert alert-danger"> 
          </div>
          </div>

          <div class="form-group">
              <label for="message"> Message </label>
              <textarea name="message" id="message" [(ngModel)]="sendmail.message" rows="5" class="form-control" placeholder="Message" required #message="ngModel"></textarea>
              <div *ngIf="message.invalid && (message.dirty || message.touched)" class="error">
                <div *ngIf="message.errors.required">Message is required.</div>
              </div>
            </div>

            <div class="form-group">
                <label for="createdAt"> CreatedAt </label>
                <input type="text" class="form-control" id="createdAt" placeholder="createdAt"
                required
                [(ngModel)]="sendmail.createdAt" createdAt="createdAt" #createdAt="ngModel">
                <div [hidden]="createdAt.valid || createdAt.pristine"
                     class="alert alert-danger">
                </div>
              </div>

              <div class="form-group">
                  <label for="updatedAt"> UpdatedAt </label>
                  <input type="text" class="form-control" id="updatedAt" placeholder="updatedAt"
                  required
                  [(ngModel)]="sendmail.updatedAt" updatedAt="updatedAt" #updatedAt="ngModel">
                  <div [hidden]="updatedAt.valid || updatedAt.pristine"
                       class="alert alert-danger">
                  </div>
                </div>

            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-dark" (click)="sendMail()" [disabled]="!sendMailForm.form.valid">SendMail</button>
              </div>
              
        </form>
            <div [hidden]="!submitted">
                <p>Submitted Successfully! -> <span class="badge badge-light"> {{sendmail.id}} {{sendmail.name}} {{sendmail.email}} {{sendmail.phone}} {{sendmail.message}} {{sendmail.createdAt}} {{sendmail.updatedAt}} </span></p>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
                    <button type="button" class="btn btn-dark" (click)="sendMail(); sendMailForm.reset()"> Continue </button>
                  </div>
            </div>
    </div>
  </div>