<p> View Answers </p>
<div *ngFor="let ans of answers">
   <a [routerLink]="['/answers', ans.id]">{{ans.id}}</a>
   <a [routerLink]="['/answers', ans.answers]">{{ans.answers}}</a>
</div>

<h4> Welcome to Answers Page </h4>
<div style="text-align: center">
   <button type="button" class="btn btn-success" (click)="getAnswers()"><font color="black">Correct Answers</font></button> | 
   <button type="button" class="btn btn-primary" (click)="selectedAnswers()"><font color="black"> Selected Answers </font></button>
</div>

<h4>All Questions Answers List</h4>
<ul *ngFor="let ans of answers">
   <li>{{ans.id}}</li>
   <li>{{ans.answers}}</li>
</ul>