
        <h1>Hi {{currentUser.firstname}}!</h1>
        <p>You're logged in with online assessment test!!</p>
        <h3>All registered users:</h3>
        <ul>
            <li *ngFor="let user of users">
              <b>  {{user.username}} ({{user.firstname}} {{user.lastname}}) </b>
                - <a (click)="deleteUser(user.id)"><button>Delete</button></a> | <a [routerLink]="['/login']"><button>Logout</button></a>
            </li>
            <br>
        </ul>
        <br>

        <h3> Options: </h3>
                  <div style="text-align: vertical">
                    <li class="nav-item">
                        <a routerLink="tests" class="btn btn-primary btn-sm" role="button" routerLinkActive="active">Tests</a> - Create Test Details
                        <a routerLink="sampletest" class="btn btn-primary btn-sm" role="button" routerLinkActive="active">Sample Test</a> - Take Sample Test
                    </li>
                    <br>
                    <li class="nav-item">
                        <a routerLink="companies" class="btn btn-success btn-sm" role="button" routerLinkActive="active">Companies</a> - Add Company Details
                        <a routerLink="managefiles" class="btn btn-primary btn-sm" role="button" routerLinkActive="active">Manage Files</a> - Manage uploading Files
                    </li>
                    <br> 
                    <li class="nav-item">
                            <a routerLink="questions" class="btn btn-success btn-sm" role="button" routerLinkActive="active">Questions</a> - Add Test Questions
                            <a routerLink="blogs/create" class="btn btn-warning btn-sm" role="button" routerLinkActive="active">Blogs</a> - Blogs Creation 
                    </li>
                    <br> 
                    <li class="nav-item">
                        <a routerLink="addedques" class="btn btn-primary btn-sm" role="button" routerLinkActive="active">Added Questions</a> - View added questions
                        <a routerLink="sendmail" class="btn btn-success btn-sm" role="button" routerLinkActive="active">Send Mail</a> - Send Mail information to users
                    </li>
                    <br> 
                    <li class="nav-item">
                        <a routerLink="addedcompany" class="btn btn-success btn-sm" role="button" routerLinkActive="active">Added Company</a> - View added companies
                        <a routerLink="testdetails" class="btn btn-primary btn-sm" role="button" routerLinkActive="active"> Test Details </a> - Test Details  
                    </li>
                    <br> 
                    <li class="nav-item">
                            <a routerLink="testlist" class="btn btn-primary btn-sm" role="button" routerLinkActive="active">Added Tests</a> - View added tests
                            <a routerLink="product" class="btn btn-info btn-sm" role="button" routerLinkActive="active">Add Files</a> - View added tests
                    </li>
                    <br> 
                    <li class="nav-item">
                            <a routerLink="addedquesdetails" class="btn btn-warning btn-sm" role="button" routerLinkActive="active">Added Questions Details</a> - view added questions
                            <a routerLink="blogs" class="btn btn-success btn-sm" role="button" routerLinkActive="active">Manage Blogs</a> - Manage Blogs
                    </li>
                    <br> 
                    <li class="nav-item">
                            <a routerLink="mcq" class="btn btn-info btn-sm" role="button" routerLinkActive="active">MCQ</a> - View and attend multiple choice questions
                    </li>
                    <br> 
                    <li class="nav-item">
                            <a routerLink="truefalse" class="btn btn-primary btn-sm" role="button" routerLinkActive="active">True False</a> - Attend true false
                    </li>
                    <br> 
                    <li class="nav-item">
                            <a routerLink="quiz" class="btn btn-info btn-sm" role="button" routerLinkActive="active">Quiz</a> - Attend general quiz
                    </li>
                    <br>
                    <li class="nav-item">
                            <a routerLink="fileloader/create" class="btn btn-info btn-sm" role="button" routerLinkActive="active">Test File Loader</a> - Load Test File 
                    </li>
                </div> 
